@echo off
set rcon_password=password
set rcon_port=25575
set rcon_command=stop
set mcrcon_path=C:\git\EZ_Host_ALPHA\resources\mcrcon\mcrcon.exe

%mcrcon_path% -H localhost -P %rcon_port% -p %rcon_password% -c %rcon_command%
